<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>
<div class="split left bg">
  <div class="">
    <!-- <img src="https://www.pexels.com/photo/grayscale-photo-of-city-buildings-2382924/" > -->
    <!-- <slider>
      <slide></slide>
      <slide></slide>
      <slide></slide>
      <slide></slide>
    </slider> -->
    
  </div>
</div>

<div class="container-fluid mb -5" class="split right ">
  <div class="centered">
    <h2>Sign Up</h2>
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" >
    <div class="form-wrapper">
      <div class="form-group">
        <label>Name</label>
        <input placeholder="Name is required" type="text"  class="form-control" formControlName="name">
      </div>
  
      <div class="form-group" >
        <label class="control-label">Email</label>
        <input placeholder="Email is required" name='email' type="email"  class="form-control" formControlName="email" [pattern]="emailPattern">
        <span class="error" *ngIf="registrationForm.get('email').hasError('required') && registrationForm.get('email').touched">
          Email Required
        </span>
        <span class="error" *ngIf="!(registrationForm.get('email').hasError('required')) && registrationForm.get('email').invalid && registrationForm.get('email').touched">
          Invalid email!
        </span>
      </div>

      <div class="form-group">
        <label>Phone</label>
        <input type="tel" placeholder="Number must be 10 digits" class="form-control" formControlName="number">
        <span class="error" *ngIf="registrationForm.get('number').hasError('required') && registrationForm.get('number').touched">
          Phone number Required
        </span>

        <span class="error" *ngIf="!(registrationForm.get('number').hasError('required')) && registrationForm.get('number').invalid && registrationForm.get('number').touched">
          Min 10 digit
        </span>
      </div>

      <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" formControlName="password">
        <span class="error" *ngIf="registrationForm.get('password').hasError('required') && registrationForm.get('password').touched">
          Password is required
        </span>
        <span class="error" *ngIf="registrationForm.get('password').hasError('minlength') && registrationForm.get('password').touched">
          Min 8 characters
        </span>
      </div>
    </div>
      <button [disabled]='!registrationForm.valid' class="btn btn-primary" type="submit" >
        Register
        
      </button>
      <ng-flash-message></ng-flash-message>
    </form>
  </div>  
</div>
