  <!-- <p>it works</p> -->
  <h3>User profile</h3>
  <ul class="list-group"  >
    <li class="list-group-item"><strong>Name:</strong>{{authData?.user?.name}}</li>
    <li class="list-group-item"><strong>Email:</strong>{{authData?.user?.email}}</li>
    <li class="list-group-item"><strong>Phone Number:</strong>{{authData?.user?.number}}</li>
    <li class="list-group-item"><strong>Password:</strong>{{authData?.user?.password}}</li>
  </ul>

  <button class="btn btn-primary" type="submit" (click)=" configService.deleteToken()" >
    Logout
  </button>